* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Libre Caslon Text", serif;
}
h1{
    font-size: 72px;
    font-weight: 400;
}
h2{
    font-size: 44px;
    font-weight: 400;
}
h3{
    font-size: 34px;
    font-weight: 400;
}